:root {
    --silvergrey: rgb(225, 225, 225, .5);
    --darkred: rgb(170, 11, 11);
    --darkgrey: rgb(44 44 44);
    --bluegrey: rgb(168, 170, 187);
    --darkbluegrey: rgb(33, 72, 92);
    --sapphireblue:rgb(31, 81, 255);
    --goldenyellow:rgb(255, 184, 48);
    --softwhite:rgb(255, 237, 218);
    --brightred:rgb(255, 36, 66);
}
/* primary body styling */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--softwhite);
    color:var(--skyblue);
}
/* primary header styling */
header {
    display:inline-flex;
    flex-wrap: wrap;
    background-color: var(--goldenyellow);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 0px; 
    font-size: 150%;
}
/* h1 title styling */
h1 {
    background-color: var(--sapphireblue);
    color: var(--goldenyellow);
    font-size: 200%;
    font-weight:bolder;
    display:inline-flex;
    padding: 0.25% 0.5% 0.25% 2%;
    border-radius: 0px 10px 10px 0px;
}
/* nav bar display */
nav {
    display: inline-flex;
    font-weight:bold;
}
/* nav bar link style */
nav ul {
    display:inline-flex;
    justify-content:right;
    list-style: none;
    padding-right: 35px;
    gap: 15px;
}
/* nav bar list item style */
nav ul li {
    display:inline-flex;
    justify-content:space-between;
}
/* nav bar link styling */
nav a {
    color: var(--sapphireblue);
    text-decoration: underline;
}
/* nav bar links hover styling */
nav a:hover {
    color:var(--brightred);
}
/* background banner styling */
.banner {
    background-image: url(./styleimages/connecttech2.jpg);
    min-height: 250px;
    align-items: flex-end;
    padding-right: 25px;
    padding-top: 200px;
}
/* h2 subtitle styling */
h2 {
    display: flex;
    font-size: 125%;
    justify-content: flex-end;
    color: var(--goldenyellow);
    border: 5px;
    border-radius: 10px;
    padding: 0.25%;
}
/* main content styling */
main{
    margin: 25px;
    color: var(--sapphireblue);
}
/* article content spacing styling */
article {
    display:flex;
    margin: 0px 0px 15px 0px;
}
/* article title styling */
.title {
    width: 15%;
    border-right:double 5px;
    text-align: right;
    font-size: 200%;
    padding-right: 10px;
}
/* about me content styling */
.aboutme {
    width: 60%;
    max-width: 1500px;
    text-align: justify;
    padding-left:10px;
}
.avatar {
    width: 25%;
}
.avatar img{
    width: 100%;
    padding-left: 10px;
}
/* displayed aera for work content area */
.workdisplay {
    width:85%;
    max-width: 1500px;
    padding-left: 10px;
    gap: 10px;
}
.workdisplay a{
    position:relative;
}
.workdisplay a:hover {
    background-color: var(--brightred);
}
/* feature work styling */
.feature {
    width:100%;
}/* feature work img styling */
.feature img {
    width: 100%;
    padding:5px;
    background-color: var(--goldenyellow);
    border-radius: 5px;
}
/* quad features styling */
.quadfeatures {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
/* sample work styling */
.samples {
    width:50%;
    max-width: 500px;
    max-height: 300px;
}
/* quad features img styling */
.samples img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;
    padding:5px;
    background-color: var(--goldenyellow);
    border-radius: 5px;
}
/* more work styling */
.morework {
    width: 100%;
    height:15%;
}
/* work images figcaption label styling */
figcaption {
    position: absolute;
    text-decoration:none;
    margin-right:50%;
    position:relative;
    top: -80px;
    padding-left: 5%;
    padding-top:5px;
    padding-bottom:5px;
    color:var(--sapphireblue);
    background-color: var(--goldenyellow);
    border-radius:0px 10px 10px 0px;
}
/* h4 figcaption label font size adjustment*/
a h4 {
    font-size:125%;
}
/* contact content styling */
.contact {
    width: 85%;
    max-width: 1500px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
}
/* contact list styling */
.contact ul {
    list-style: none;
}
/* contact list styling */
.contact ul li {
    display:inline-flex;
    text-decoration: underline;
    padding: 0 15px;
}
/* footer styling */
footer {
    display:flex;
    background-color: var(--goldenyellow);
    justify-content:space-around;
    text-align:center;
    padding: 5px 0px; 
}
/* footer link styling */
footer a{
    color: var(--sapphireblue);
    padding: 0px 5px;
    font-size: 75%;
}
/* footer link hover styling */
footer a:hover {
    color: var(--brightred);
}

/* Media Inquiries */
@media screen and (max-width: 834px) {
    header {
        font-size: 100%;
    }
    h1 {
        font-size:150%;
    }
    h2 {
        font-size: 100%;
    }
    .title {
        font-size: 100%;
    }
    h3 {
        font-size: 100%;
    }
    h4 {
        font-size: 100%;
    }
    footer {
        background-color: var(--softwhite);
        font-size: 0%;
        min-height: 0%;
        max-height: 0%;
    }
    footer a{
        font-size: 0%;
        min-height: 0%;
        max-height: 0%;
    }
}

@media screen and (max-width: 625px) {
    body{
        font-size: 10px;
    }
    header {
        font-size:100%;
    }
    h1 {
        font-size: 110%;
    }
    .banner {
        min-height: 0px;
        max-height: 0px;
    }
    h2 {
        font-size: 0%;
    }
    .title {
        font-size: 100%;
    }
    h3 {
        font-size: 100%;
    }
    h4 {
        font-size: 80%;
    }
    footer {
        background-color: var(--softwhite);
        font-size: 0%;
        min-height: 0%;
        max-height: 0%;
    }
    footer a{
        font-size: 0%;
        min-height: 0%;
        max-height: 0%;
    }
}